<!DOCTYPE html>

<head>

    <meta charset="UTF-8">

    <title>Hello</title>

    <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    <link rel="stylesheet" href="../static/css/style.css" media="screen" type="text/css" />

</head>

<body>


<div class="login-card">
    <!--<h1>Hello world <span th:text="${person.name}"></span></h1><br>-->
    <!--<h1>Your age is:  <span th:text="${person.age}"></span></h1><br>-->
    <div th:text="${ejemplo}"></div>

    <table>
    <thead>
    <tr>
        <th>NAME</th>
        <th>AGE</th>
    </tr>
    </thead>
    <tbody th:each="person : ${people}">
    <tr>
        <h1>aqui </h1>
        <th th:text="${person.name}"></th>
        <th th:text="${person.age}"></th>
    </tr>
    </tbody>
</table>

</div>


</body>

</html>